  * { 
margin:0;
padding:0;
box-sizing:border-box;
	  
   }
 body
 
 {background-color:silver;}
 .container
 {  
		
	margin:0 auto;
	border:2px solid green;
	
	background-color:lime;     
 }
 .row{
	 display:flex;
	 flex-wrap:wrap;
	 justify-content:space-between;
	 padding:10px;
 }
 .mam1{
	 background-color:yellow;
	 height:30px;
	 width:30%;
	
 }
  .mam2{
	 background-color:yellow;
	 height:30px;
	 width:30%;
	
 }
 .mam3{
	 background-color:yellow;
	 height:30px;
	 width:30%;
	
 }
  .mam4{
	 background-color:yellow;
	 height:30px;
	 width:30%;
	
 }
  .mam5{
	 background-color:yellow;
	 height:30px;
	 width:15%;
	
 }
  .mam6{
	 background-color:yellow;
	 height:30px;
	 width:30%;
	
 }
  .mam7{
	 background-color:yellow;
	 height:500px;
	 width:100%;
	
 }
  .mam8{
	 background-color:yellow;
	 height:500px;
	 width:40%;
	margin-left:50px;
 }
  .mam9{
	 background-color:yellow;
	 height:500px;
	 width:40%;
	margin-right:50px;
 }
 .box{
	  background-color:yellow;
	 height:300px;
	 width:25%;
	margin:30px 50px;
 }
 .box1{
	  background-color:yellow;
	 height:300px;
	 width:20%;
	margin:20px 25px;
 }
 .box2{
	  background-color:yellow;
	 height:300px;
	 width:20%;
	margin:20px 25px;
 }
 .box3{
	  background-color:yellow;
	 height:300px;
	 width:20%;
	margin:20px 25px;
 }